.projects {
  padding: 80px 10%;
  text-align: center;
  color: #101010;
  background: rgba(255, 255, 255, 0.5); /* slight overlay for readability */
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #6c5ce7;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid rgb(152, 152, 193);
  border-radius: 20px;
  padding: 5px;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #6c5ce7;
}

.project-info p {
  font-size: 1rem;
  color: #3a3737;
}

/* Responsive */
@media (max-width: 900px) {
  .project-grid {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
  }
}
